.review {
  margin-bottom: 30px;
}

.review__title {
  margin-top: 0;
  margin-bottom: 3px;
}

.review__title--author {
  margin-bottom: 0;
}

.review__wrapper {
  display: flex;
  align-items: baseline;

  min-width: 100px;
  margin-bottom: 10px;
}

.review__date {
  margin-left: 10px;

  font-size: 12px;
  line-height: 16px;

  color: #585757;
}

.review__rating-panel {
  margin-bottom: 12px;
}

.review__value {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 19px;
}
